body {
    background-color: rgb(255, 228, 189);
    color: white;
    display: flex;
}

main{
    background-color: brown;
    margin-left: 10%;
    padding-top: 10%;
    padding-bottom: 5%;
    height: 100%;
    width: 100%;
}

header {
    margin-left: 10%;
    margin-top: 10%;
}

h1, h2 {
font-family: lust-sans, sans-serif;
font-weight: 700;
font-style: normal;
}

h1 {
    color: brown;
    margin-left: 50%;
}

h2 {
    display: inline-block;
    padding: 10px;
    border: solid 2px white;
}

#name {
    color: gray;
}

p {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

img {
    padding-top: 10%;
}

section{
    display: block;
    margin-left: 10%;
    margin-right: 30%;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

footer {
    margin: auto;
    width: 50%;
    margin-left:10%;
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
}