body {
    background-color: rgb(255, 228, 189);
    color: white;
    display: flex;
}

main{
    background-color: brown;
    margin-left: 10%;
    padding-top: 10%;
    padding-bottom: 5%;
    height: 100%;
    width: 100%;
}

header {
    margin-left: 10%;
    margin-top: 10%;
}

h1, h2, h3 {
    font-family: lust-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    color: brown;
    margin-left: 50%;
}

h2 {
    display: inline-block;
    padding: 10px;
    border: solid 2px white;
}

h3 {
    text-align: center;
}

#name {
    color: gray;
}

p {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

img {
    position: relative;
    margin-top: 10%;
    width: 100%;
    height: 100%;
}

section{
    margin-left: 15%;
    margin-right: 15%;
}

a {
    text-decoration: none;
}

.imghover {
    color: white;
}

.imagehoverdiv {
    position: relative;
    text-align: center;
}

.footerlink:link {
    color: white;
}

.footerlink:visited {
    color: white;
}

.footerlink {
    margin: auto;
    width: 50%;
    margin-left:15%;
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
}