body {
    color: white;
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    letter-spacing: 10px;
}

h1, h2, h3, p, footer, a {
    font-family: bodoni-urw, serif;
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-size: 28px;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 20%;
    line-height: 40px;
}

h3 {
    font-size: 20px;
    text-align: center;
}

p {
    line-height: 25px;
}

.interludep {
    font-size: 25px;
    letter-spacing: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50%;
}

.textcontainer {
    text-align: left;
    text-indent: 5%;
    width: 30%;
}

.centerp {
    margin: auto;
}

#centralsection {
    background-color: black;
    height: 600px;
    margin-top: 7%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.sections {
    display: flex;
    justify-content: space-evenly;
}

.sections {
    margin-bottom: 50%;
}

.leftpictures:hover {
    transform: perspective(1000px) rotateY(360deg);
    cursor: pointer;
    transition: all 1s;
}

.rightpictures:hover {
    transform: perspective(1000px) rotateY(360deg);
    cursor: pointer;
    transition: all 1s;
}

#carouselindicators {
    position: absolute;
    display: flex;
    justify-content: center;
}

.indicator {
    box-sizing: border-box;
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 2px solid white;
    transition: all 500ms;
}

.indicator:hover {
    transform: scale(1.3);
    transform-origin: center;
    border: none;
}

#button1 {
    background-image: url("images/1.4.jpg");
}

#button1:hover {
    background-image: url("images/1.3.jpg");
    border:none;
}

#button2 {
    background: url("images/2.4.jpg");
}

#button2:hover {
    background: url("images/2.3.jpg");
}

#button3 {
    background: url("images/3.4.jpg");
}

#button3:hover {
    background: url("images/3.3.jpg");
}

#button4 {
    background: url("images/4.4.jpg");
}

#button4:hover {
    background: url("images/4.3.jpg");
}

#button5 {
    background: url("images/5.4.jpg");
}

#button5:hover {
    background: url("images/5.3.jpg");
}

footer {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover{
    transition: all 500ms;
}

#overlay1, #overlay2, #overlay3, #overlay4, #overlay5 {
    display: flex;
    position: absolute;
    background: rgb(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    margin-top: -50%;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.overlayimg {
    display: flex;
    margin: auto;
    z-index: 10;
}

.corner {
    font-size: 36px;
    margin: 0;
    padding: 0;
    border:none;
    background-color: transparent;
    color: black;
    position: absolute;
    z-index: 10;
    top: 120px;
    right: 440px;
    cursor: pointer;
    outline: none;
}

.showing {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

footer {
    display: flex;
}
