body {
    color: white;
    font-family: lores-12, sans-serif;
    font-weight: 600;
    font-style: normal;
}

main {
    width: 1366px;
    height: 768px;
    margin: auto;
}

audio {
    position: absolute;
    visibility: hidden;
}

#mainscreen {
    display: flex;
}

#logo {
    margin-left: -7%;
}

.pinkside {
    background-color: rgb(251, 55, 115);
    width: 683px;
    height: 768px;
}

.blueside {
    width: 683px;
    height: 768px;
    background-color: rgb(0, 200, 207);
}

#rules {
    margin-top: 20%;
}

#rulestitle {
    margin-top: 0px;
    font-size: 48px;
    filter: drop-shadow(0px 4px black);
    text-align: center;
}

ul {
    list-style-type: none;
    border: solid 5px white;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    width: 35%;
}

li {
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

button:hover {
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
}

#startbutton {
    margin: auto;
    display: block;
}

#characterselectscreen {
    display: none;
    margin-top: 8%;
    padding: 50px;
}

.characterselect {
    margin: 20px;
    filter: drop-shadow(7px 8px rgba(0, 0, 0, 0.25));
    transition: all 100ms;
}

.characterselect:hover {
    cursor: pointer;
    transform: scale(1.15) translateY(-10px);
    filter: drop-shadow(20px 20px rgba(0, 0, 0, 0.25));
}

#charactercards {
    display: none;
}

.cards {
    display: block;
    margin: auto;
    margin-top: 8%;
}

#madlib {
    display: none;
    margin: auto;
    width: 50%;
    padding-top: 15%;
    padding-right: 100px;
    padding-left: 100px;
    line-height: 25px;
}

#myform {
    display: none;
    position: relative;
    float: right;
    margin-right: 35%;
}

#contbutton {
    display: block;
    margin: auto;
}

#madlibcharactersection {
    display: none;
}

.madlibchars {
    display: block;
    margin: auto;
    margin-top: 30%;
}

label, input {
    padding: 8px;
    border-radius: 10px;
    border: none;
}

#submit {
    font-size: 20px;
    color: white;
    background-color: rgb(255, 213, 87);
    border: solid 5px rgb(255, 122, 63);
    border-radius: 20px;
    margin-top: 10%;
}

#replaybutton {
    display: none;
    margin: auto;
}
