html {
    scroll-behavior: none;
}

main {
    background-color: pink;
    filter: hue-rotate(360deg);
    animation: main 12s infinite linear;
}

/* @keyframes main {
    0% {
        background-color: yellow;
        filter: hue-rotate(0deg);
    }
    100% {
        background-color: yellow;
        filter: hue-rotate(360deg);
    }
} */

@keyframes main {
    0% {
        background-color: yellow;
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(3600deg);
    }
}

#blackscreen {
    position: absolute;
    width: 1800px;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    animation: blackscreen 12s infinite linear;
}

/* @keyframes blackscreen {
    0%{
        height: 1000px;
    }
    100% {
        height: 0px;
    }
} */


@keyframes blackscreen {
    0%{
        width: 1500px;
    }
    100% {
        width: 0px;
    }
}

img {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
}


