main {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: main 6s infinite;
}

#leftside {
    left: 0;
    /* top: 50%; */
    position: fixed;
    margin: auto;
    animation: left 6s infinite;
}

#rightside {
    /* top: 50%; */
    position: fixed;
    margin: auto;
    right: 0;
    animation: right 6s infinite;
}

#leftblackside {
    background-color: black;
    width: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    animation: leftblack 6s infinite;
}

.rainbowbar {
    background-color: yellow;
    height: 100%;
}

@keyframes left {
    0% {
        width: 0%;
        filter: hue-rotate(0deg);
    }
    90% {
        width: 50%;
        filter: hue-rotate(3600deg);
    }
    100% {
        width: 50%;
        filter: hue-rotate(3600deg);
    }
}

@keyframes right {
    0% {
        width: 0%;
        filter: hue-rotate(0deg);
    }
    90% {
        width: 50%;
        filter: hue-rotate(3600deg);
    }
    100% {
        width: 50%;
        filter: hue-rotate(3600deg);
    }
}

@keyframes leftblack {
    0% {
        height: 0%;
    }
    90% {
        height: 0%;
    }
    91% {
        height: 0%;
    }
    100% {
        height: 100%;
    }   
}
