body {
    background-color: white;
    font-family: mr-eaves-modern, sans-serif;
    padding: 15%;
    font-weight: 400;
    margin-left: 100px;  
}

.one {
    background-color: rgb(181, 227, 255); transition: all 3s;
}
.two {
    background-color: rgb(49, 104, 214); transition: all 3s;
}
.three {background-color: rgb(122, 244, 255); transition: all 3s;
}
.four {
    background-color: rgb(155,184,204); transition: all 3s;
}
.five {
    background-color: rgb(194, 205, 252); transition: all 3s
}

h1 {
    font-size: 48px;
    color: rgb(41, 82, 125);
}

h2 {
    border-radius: 10px;
    color: rgb(117, 184, 255);
}

#nav {
    display: inline;
    float: right;
    margin-top: -65px;
    padding-right: 10px;
    padding-left: 10px;
    color: rgb(0, 91, 163);
    border-left: solid 3px black;
    border-right: solid 3px black;
    transition: all 500ms;
}

#nav:link, #nav:visited{
    color: rgb(0, 91, 163);
}

#nav:hover {
    color: rgb(52, 235, 180);
}

#namesubtitle {
    margin-top: -20px;
    font-size: 20px;
}

p, li {
    font-size: 20px;
    line-height: 30px;
}

.articles {
    text-indent: 50px;
    width: 100%;
}

figcaption {
    position: relative;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
}

li {
    width: 100%;
}

article {
    padding-top: 20px;
    border-top: 3px solid black;
}

.pictures {
    display: block;
    margin: auto;
    padding: 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

a{
    text-decoration: none;
}

.articlelinkp {
    padding-top: 20px;
    padding-bottom: 60px;
}

.articlelink {
    padding: 15px;
    height: 100px;
    width: 0px;
    transition: all 500ms;
    border-radius: 40px;
    border: solid 3px rgb(0, 91, 163);
}

.articlelink:hover {
    padding: 15px;
    width: 500px;
    border-radius: 40px;
    color: white;
    border: solid 3px rgb(52, 235, 180);
}

.articlelink:link, .articlelink:visited, .footerlink:link, .footerlink:visited, #zhu:link, #zhu:visited {
    color: rgb(0, 91, 163);
    text-decoration: none;
    transition: all 500ms;
}

.footerlink:hover, #zhu:hover {
    color: rgb(52, 235, 180);
}