body {
    color: white;
    font-family: lores-12, sans-serif;
    font-weight: 600;
    font-style: normal;
}

main {
    width: 1366px;
    height: 768px;
    margin: auto;
}

audio {
    position: absolute;
    visibility: hidden;
}

#mainscreen {
    display: flex;
}

#logo {
    margin-left: -7%;
}

.pinkside {
    background-color: rgb(251, 55, 115);
    width: 683px;
    height: 768px;
}

.blueside {
    width: 683px;
    height: 768px;
    background-color: rgb(0, 200, 207);
}

#rules {
    margin-top: 15%;
}

#rulestitle {
    margin-top: 0px;
    font-size: 48px;
    filter: drop-shadow(3px 5px rgba(0, 0, 0, 0.5));
    text-align: center;
}

ul {
    list-style-type: none;
    border: solid 5px white;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    width: 35%;
}

li {
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

button:hover {
    cursor: pointer;
}

button {
    width: 80%;
    height: 80%;
    background-color: transparent;
    border: none;
}

#startbutton {
    margin: auto;
    display: block;
    height: 10%;
    width: 50%;
}

#characterselectscreen {
    display: none;
    margin-top: 8%;
    padding: 50px;
}

button {
    filter: drop-shadow(7px 8px rgba(0, 0, 0, 0.25));
    transition: all 100ms;
}

button:hover {
    cursor: pointer;
    transform: scale(1.15) translateY(-10px);
    filter: drop-shadow(20px 20px rgba(0, 0, 0, 0.25));
}

.characterselect {
    margin: 20px;
    filter: drop-shadow(7px 8px rgba(0, 0, 0, 0.25));
    transition: all 100ms;
}

.characterselect:hover {
    cursor: pointer;
    transform: scale(1.15) translateY(-10px);
    filter: drop-shadow(20px 20px rgba(0, 0, 0, 0.25));
}

.madlibchars {
    transition: all 200ms;
}

.madlibchars:hover {
    transform: translateY(-50px);
}

#charactercards {
    display: none;
}

.cards {
    display: block;
    margin: auto;
    margin-top: 8%;
}

#madlib {
    display: none;
    margin: auto;
    width: 50%;
    padding-top: 12%;
    padding-left: 150px;
    line-height: 35px;
}

#myform {
    display: none;
    float: right;
    margin-right: 35%;
}

label {
    margin-left: -10px;
    transition: all 100ms;
}

label, input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    line-height: 30px;
}

label:hover {
    cursor: pointer;
    transform: scale(1.15) translateY(-10px);
    filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.3));
}

#finalbutton1 {
    margin: auto;
    display: none;
    width: 45%;
}

#finalbutton2 {
    margin: auto;
    margin-top: -15px;
    display: none;
    width: 45%;
}

#submit{
    margin: auto;
    display: none;
}

#replaybutton {
    display: none;
}

#contbutton {
    display: block;
    margin: auto;
    margin-top: -20px;
    height: 20%;
    width: 50%;
}

#madlibcharactersection {
    display: none;
}

.madlibchars {
    display: block;
    margin: auto;
    margin-top: 20%;
}

#replaybutton {
    display: none;
    margin: auto;
}

.showing {
    visibility: visible;
}

.madlibtext {
    border: 10px dotted yellow;
    border-radius: 20px;
    background-color: rgba(255, 108, 23, 0.9);
    outline: solid 20px rgba(255, 108, 23, 0.9);
    padding: 25px;
    margin-left: -45%;
    font-size: 20px;
    line-height: 30px;
}

.red {
    color: yellow;
    filter: drop-shadow(3px 3px rgba(0, 0, 0, 0.5));
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: -17%;
    margin-left: -90px;
}

a {
    position: absolute;
}

a:link {
    text-decoration: none;
    color: white;
    border-bottom: 0px solid white;
    filter: drop-shadow(2px 3px rgba(0, 0, 0, 0.5));
    transition: all 100ms;
}

a:hover {
    cursor: pointer;
    font-size: 20px;
    transform: scale(1.15) translateY(-10px);
    filter: drop-shadow(6px 6px rgba(0, 0, 0, 0.5));
}

a:visited {
    color: white;
}