body {
    font-family: eurostile-extended, sans-serif;
    font-weight: 900;
    font-style: normal;
    background-color: darkred;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    color: white;
}

a {
  z-index: 10;
  justify-content: space-evenly;
}

button {
  z-index: 10;
  font-weight: 900;
  color: white;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

#madeonvideo {
  position: fixed;
  right: -20%;
  bottom: -10%;
  display: block;
  min-width: 100%;
  min-width: 1366px;
  animation: huechange 10s infinite linear;
  mix-blend-mode: color;
}


#loading {
  position: fixed;
  width: 100%;
  height: 1366px;
  z-index: 20;
  background: black;
  animation: loadingscreen 4s ease-out;
  visibility: hidden;
}

#warninglabel {
  font-size: 25px;
  position: absolute;
  top: 20%;
  left: 30%;
  color: white;
  z-index: 100;
}

#loadingbar {
  background-color: red;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 28%;
  z-index: 101;
  animation: loadingbar 4s linear;
}

@keyframes huechange {
  from {
      filter: hue-rotate(0deg);
  }
  to {
      filter: hue-rotate(4320deg);
  }
}

@keyframes loadingbar {
  0% {
    width: 0px;
    filter: hue-rotate(1080deg);
  }
  80% {
    width: 100%;
  }
}

@keyframes loadingscreen {
  0% {
    opacity: 100%;
    width: 100%;
    visibility: visible;
  }
  90% {
    opacity: 100%;
    width: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0%;
    width: 0%;
  }
}

#marquee {
    position: absolute;
    bottom: 0;
    width: 100vw;
    max-width: 100%;
    height: 50px;
    overflow-x: hidden;
    background-color: black;
  }
  
#marqueebox {
   position: absolute;
   bottom: 0;
   white-space: nowrap;
   will-change: transform;
   animation: marquee 20s linear infinite;
  }

  #marqueetext {
      color: white;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }